<div>
  <div><h1>Registrar recomendacion</h1></div>
  <div>
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field *ngIf="edicion">
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" />
        <mat-error *ngIf="form.get('codigo')?.hasError('required')">
          El código es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />

      <!-- Revisar -->
      <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipo">
          <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
            {{tipo.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('tipo')?.hasError('required')">
          El tipo es obligatorio!!
        </mat-error>
      </mat-form-field>

      <br />
      <mat-form-field>
        <mat-label>Descripcion</mat-label>
        <input matInput formControlName="descripcion" maxlength="200" />
        <mat-error *ngIf="form.get('descripcion')?.hasError('required')">
          La descripcion es obligatoria
        </mat-error>
        <mat-error *ngIf="form.get('descripcion')?.hasError('maxlength')">
          La descripcion no puede exceder 200 caracteres
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Fecha de emision</mat-label>
        <input matInput [matDatepicker]="registrationPicker" formControlName="fechaEmision">
        <mat-datepicker-toggle matSuffix [for]="registrationPicker"></mat-datepicker-toggle>
        <mat-datepicker #registrationPicker></mat-datepicker>
        <mat-error *ngIf="form.get('fechaEmision')?.hasError('required')">
          La fecha de emision es obligatoria!!
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Fuente</mat-label>
        <input matInput formControlName="fuente" maxlength="200" />
        <mat-error *ngIf="form.get('fuente')?.hasError('required')">
          La fuente es obligatoria
        </mat-error>
      </mat-form-field>
      <br />
      <!-- CAMPO USUARIO -->
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="idUser">
          <mat-option *ngFor="let user of users" [value]="user.id">
            {{user.username}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('idUser')?.hasError('required')">
          El usuario es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />
      <!-- CAMPO CROP -->
      <mat-form-field>
        <mat-label>Cultivo</mat-label>
        <mat-select formControlName="idCrop">
          <mat-option *ngFor="let crop of crops" [value]="crop.idCrop">
             {{crop.idCrop}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('idCrop')?.hasError('required')">
          Debe seleccionar un cultivo
        </mat-error>
      </mat-form-field>
      <br />

      <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">
        Registrar recomendacion
      </button>
    </form>
  </div>
</div>