<div>
  <div><h1>Registro de Sensores</h1></div>
  <div>
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field *ngIf="edicion">
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" readonly/>
        <mat-error *ngIf="form.get('codigo')?.hasError('required')">
          El código es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tiposensor">
          <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
            {{tipo.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('tiposensor')?.hasError('required')">
          El tipo es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Fecha de Instalación</mat-label>
        <input matInput [matDatepicker]="finstalacionPicker" formControlName="fechainstalacion">
        <mat-datepicker-toggle matSuffix [for]="finstalacionPicker"></mat-datepicker-toggle>
        <mat-datepicker #finstalacionPicker></mat-datepicker>
        <mat-error *ngIf="form.get('fechainstalacion')?.hasError('required')">
          La fecha de instalación es obligatoria!!
        </mat-error>
      </mat-form-field>
      <br />
      
      <div>
        <label>Estado</label>
        <mat-radio-group formControlName="estado">
          <mat-radio-button [value]="true">Activo</mat-radio-button>
          <mat-radio-button [value]="false">Inactivo</mat-radio-button>
        </mat-radio-group>
      </div>
      <br />

      <mat-form-field>
        <mat-label>Ultima lectura</mat-label>
        <input matInput [matDatepicker]="ulecturaPicker" formControlName="ultimalectura">
        <mat-datepicker-toggle matSuffix [for]="ulecturaPicker"></mat-datepicker-toggle>
        <mat-datepicker #ulecturaPicker></mat-datepicker>
        <mat-error *ngIf="form.get('ultimalectura')?.hasError('required')">
          La fecha de ultima lectura es obligatoria!!
        </mat-error>
      </mat-form-field>
      <br/>

      <mat-form-field>
        <mat-label>Nivel de batería</mat-label>
        <input matInput formControlName="niveldebateria"/>
        <mat-error *ngIf="form.get('niveldebateria')?.hasError('required')">
          El tipo de sensor es obligatorio!!
        </mat-error>
        <mat-error *ngIf="form.get('niveldebateria')?.hasError('max')">
          El nivel de batería no puede ser mayor a 100
        </mat-error>
        <mat-error *ngIf="form.get('niveldebateria')?.hasError('min')">
          El nivel de batería no puede ser menor a 100
        </mat-error>
      </mat-form-field>
      <br/>

      <mat-form-field>
        <mat-label>Nivel de Humedad</mat-label>
        <input matInput formControlName="humedad"/>
        <mat-error *ngIf="form.get('humedad')?.hasError('required')">
          El nivel de humedad es obligatorio!!
        </mat-error>
        <mat-error *ngIf="form.get('humedad')?.hasError('max')">
          El nivel de humedad no puede ser mayor a 100
        </mat-error>
        <mat-error *ngIf="form.get('humedad')?.hasError('min')">
          El nivel de humedad no puede ser menor a 100
        </mat-error>
      </mat-form-field>
      <br/>

      <mat-form-field>
        <mat-label>Parcela</mat-label>
        <mat-select formControlName="parcela">
          <mat-option *ngFor="let parcel of parcels" [value]="parcel.idParcel">
            {{parcel.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('parcela')?.hasError('required')">
          Debe seleccionar una parcela
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Cultivo</mat-label>
        <mat-select formControlName="cultivo">
          <mat-option *ngFor="let crop of crops" [value]="crop.idCrop">
             {{crop.typeCrop}} ID:{{crop.idCrop}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('cultivo')?.hasError('required')">
          Debe seleccionar un cultivo
        </mat-error>
      </mat-form-field>
      <br />

      <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">
        Registrar Sensor
      </button>
    </form>
  </div>
</div>