    <head>
        <link rel="stylesheet" href="inicio.component.css" />
        <script src="./assets/scripts/main.js" defer></script>
    </head>
    <body>
        <main id="main">
            <section class="hero">
                <div class="hero-text">
                    <h1>
                        Lleva la revolución digital a la
                        <span>agricultura</span>
                    </h1>
                    <p>Integra tecnología a tu negocio</p>
                    <a href="./">Empieza ahora</a>
                </div>
            </section>

            <section class="brands">
                <div id="top-wave"></div>
                <div id="bottom-wave"></div>
    
                <h2>Empresas que confían en nosotros</h2>
    
                <div class="brands-images">
                    <img src="assets/images/johnDeere.png" loading="lazy" />
                    <img src="assets/images/fieldView.png" loading="lazy" />
                    <img src="assets/images/trimble.png" loading="lazy" />
                </div>
            </section>
        </main>
    </body>