<div class="body">

<div class="background-overlay"></div>
<div class="ia-container">
  <div class="header-pag">
    <div class="header-content">
      <div class="icon-wrapper">
        <mat-icon class="header-icon">psychology</mat-icon>
      </div>
      <h1 class="ia-title">Asistente Agrícola Inteligente</h1>
      <p class="ia-subtitle">Solo responde recomendaciones y predicciones meteorológicas</p>
  </div>

  <div class="ia-input-section">
    <textarea [(ngModel)]="pregunta" rows="4" placeholder="Ej. ¿Qué puedo sembrar en la costa en invierno?"></textarea>

    <button (click)="preguntarIA()" [disabled]="cargando || !pregunta">
      <mat-icon *ngIf="!cargando">smart_toy</mat-icon>
      <mat-icon *ngIf="cargando" class="loading-icon">autorenew</mat-icon>
      {{ cargando ? 'Consultando...' : 'Consultar IA' }}
    </button>
  </div>

  <div class="ia-response" *ngIf="respuesta">
    <h3><mat-icon>insights</mat-icon> Respuesta:</h3>
    <p>{{ respuesta }}</p>
  </div>
</div>
</div>
</div>
