:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}


/* Video de fondo pantalla completa */
.video-background {
    position: fixed;
    inset:0;
    z-index: -1; /* Coloca el video detrás del contenido */
    overflow: hidden;
}

.video-background video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* Contenedor del contenido centrado */
.overlay {
    position: fixed;
    inset:0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Caja blanca con sombra */
.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85); /* Transparencia sutil */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Título */
h1 {
    font-size: 2rem;
    color: #333;
}

/* Marca SmartHarvest destacada */
h1 span {
    color: #28a745;
}

app-root, mat-sidenav-container, mat-sidenav-content, router-outlet {
  height: 100%;
  display: block;
  overflow: hidden;
}

mat-sidenav-content {
  overflow: hidden !important;
}


.overlay {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.98); }
  to { opacity: 1; transform: scale(1); }
}
