/* Estilo principal del contenedor */
.fondo {
  background-color: #388e3c;

}
.container {
  max-width: 400px;
  margin: 5% auto;
  padding: 40px 30px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 128, 0, 0.2);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Logo */
.container img {
  width: 100px;
  margin-bottom: 20px;
}

/* Título */
.container h2 {
  margin-bottom: 30px;
  font-size: 24px;
  color: #2e7d32; /* Verde oscuro */
}

/* Campos de formulario */
mat-form-field.example-full-width {
  width: 100%;
  margin-bottom: 20px;
}

/* Botón en tonos verdes */

.mat-mdc-raised-button:not(:disabled) {
    background-color: #388e3c;
}
.custom-button {
  color: #ffffff !important;   /* Fuerza el texto blanco */
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-transform: none; /* Opcional: evita que el texto esté en mayúsculas */
}

.custom-button:hover {
  background-color: #ffffff;
  transform: scale(1.02);
  color: #388e3c !important; /* Asegura que no cambie al hacer hover */
}
