<div class="fondo">
  <div class="container">
    <div>
      <img src="assets/images/favicon.svg" alt="Logo de la empresa">
    </div>
    <h2>Inicie sesión</h2>

    <mat-form-field class="example-full-width">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Username" [(ngModel)]="username" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password" [(ngModel)]="password" />
    </mat-form-field>

    <!-- Contenedor para botones -->
    <div class="botones">
      <button mat-raised-button class="custom-button ingresar" (click)="login()">Ingresar</button>
      <button mat-raised-button class="custom-button cancelar" routerLink="/inicio">Cancelar</button>
    </div>
  </div>
</div>
