<div class="fondo">
  <div class="container">
    <img src="assets/images/favicon.svg" alt="Logo de la empresa" />
    <h2>{{ edicion ? 'Editar Usuario' : 'Registro de Usuario' }}</h2>

    <form [formGroup]="form" (ngSubmit)="aceptar()">
      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" />
        <mat-error *ngIf="form.get('codigo')?.hasError('required')">
          El código es obligatorio!!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" maxlength="30" />
        <mat-error *ngIf="form.get('username')?.hasError('required')">
          El nombre es obligatorio!!
        </mat-error>
        <mat-error *ngIf="form.get('username')?.hasError('maxlength')">
          El nombre no puede exceder 30 caracteres
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="form.get('password')?.hasError('required')">
          La contraseña es obligatoria!!
        </mat-error>
        <mat-error *ngIf="form.get('password')?.hasError('minlength')">
          La contraseña debe tener al menos 6 caracteres
        </mat-error>
      </mat-form-field>

      <div class="radio-group" *ngIf="edicion">
        <label>Estado</label>
        <mat-radio-group formControlName="enabled">
          <mat-radio-button [value]="true">Activo</mat-radio-button>
          <mat-radio-button [value]="false">Inactivo</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="botones">
        <button
          type="submit"
          mat-raised-button
          class="custom-button ingresar"
          [disabled]="!form.valid"
        >
        {{ edicion ? 'Actualizar Usuario' : 'Registrar Usuario' }}
        </button>
        <button
          type="button"
          mat-raised-button
          class="custom-button cancelar"
          routerLink="/users"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
