<mat-toolbar color="primary" class="navbar" *ngIf="verificar()">
  <!-- Logo que redirige a /inicio -->
  <span class="navbar-brand" [routerLink]="['/inicio']" style="cursor: pointer;">
    <mat-icon class="brand-icon">business</mat-icon>
    INICIO
  </span>

  <!-- Menú principal -->
  <div class="navbar-links">
    <button mat-button [matMenuTriggerFor]="menuCompany">
      <mat-icon>domain</mat-icon>
      Compañías
      <mat-icon class="menu-caret">expand_more</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="menulocalmarkets">
      <mat-icon>storefront</mat-icon>
      Mercados Locales
      <mat-icon class="menu-caret">expand_more</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="menuCrop">
      <mat-icon>storefront</mat-icon>
      Cultivos
      <mat-icon class="menu-caret">expand_more</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="menuParcel">
      <mat-icon>storefront</mat-icon>
      Parcelas
      <mat-icon class="menu-caret">expand_more</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="menuUsers">
      <mat-icon>storefront</mat-icon>
      Usuarios
      <mat-icon class="menu-caret">expand_more</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="menuRol">
      <mat-icon>storefront</mat-icon>
      Roles
      <mat-icon class="menu-caret">expand_more</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="menuInput">
      <mat-icon>storefront</mat-icon>
      Insumos
      <mat-icon class="menu-caret">expand_more</mat-icon>
    </button>

  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menucrops"
      class="btn-rojo"
      *ngIf="isAdmin() || isAgricultor()"
    >
      <mat-icon>eco</mat-icon>
      Cultivos
    </button>
  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menuinput"
      class="btn-rojo"
      *ngIf="isAdmin() || isAgricultor()"
    >
      <mat-icon>grain</mat-icon>
      Insumos
    </button>
  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menuparcel"
      class="btn-rojo"
      *ngIf="isAdmin() || isAgricultor()"
    >
      <mat-icon>grass</mat-icon>
      Parcelas
    </button>
  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menusensor"
      class="btn-rojo"
      *ngIf="isAdmin() || isAgricultor()"
    >
      <mat-icon>barcode_reader</mat-icon>
      Sensor
    </button>
  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menuusuarios"
      class="btn-rojo"
      *ngIf="isAdmin()"
    >
      <mat-icon>groups</mat-icon>
      Usuarios
    </button>
  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menuroles"
      class="btn-rojo"
      *ngIf="isAdmin()"
    >
      <mat-icon>assignment_ind</mat-icon>
      Roles
    </button>
  </div>
  <span class="toolbar-spacer"></span>
  <div class="right-menu">
    <button mat-button [matMenuTriggerFor]="menuSalir">
      <mat-icon>person</mat-icon>
      Usuario
      <mat-icon class="menu-caret">expand_more</mat-icon>
    </button>
  </div>
</mat-toolbar>

<!-- Menús desplegables -->
<mat-menu #menuCompany="matMenu">
  <button mat-menu-item routerLink="/companies">
    <mat-icon>list</mat-icon>
    <span>Listar</span>
  </button>
  <button mat-menu-item routerLink="/companies/nuevo">
    <mat-icon>add_circle</mat-icon>
    <span>Registrar</span>
  </button>
</mat-menu>

<mat-menu #menuCrop="matMenu">
  <button mat-menu-item routerLink="/crops">
    <mat-icon>list</mat-icon>
    <span>Listar</span>
  </button>
  <button mat-menu-item routerLink="/crops/nuevo">
    <mat-icon>add_circle</mat-icon>
    <span>Registrar</span>
  </button>
</mat-menu>

<mat-menu #menulocalmarkets="matMenu">
  <button mat-menu-item routerLink="/localmarkets">Listar</button>
  <button mat-menu-item routerLink="/localmarkets/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menucrops="matMenu">
  <button mat-menu-item routerLink="/crops">Listar</button>
  <button mat-menu-item routerLink="/crops/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuinput="matMenu">
  <button mat-menu-item routerLink="/inputs">Listar</button>
  <button mat-menu-item routerLink="/inputs/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuparcel="matMenu">
  <button mat-menu-item routerLink="/parcels">Listar</button>
  <button mat-menu-item routerLink="/parcels/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menusensor="matMenu">
  <button mat-menu-item routerLink="/sensors">Listar</button>
  <button mat-menu-item routerLink="/sensors/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuusuarios="matMenu">
  <button mat-menu-item routerLink="/users">Listar</button>
  <button mat-menu-item routerLink="/newuser">Registrar</button>
</mat-menu>

<mat-menu #menuroles="matMenu">
  <button mat-menu-item routerLink="/roles">Listar</button>
  <button mat-menu-item routerLink="/roles/all">Registrar</button>
</mat-menu>

<mat-menu #menuSalir="matMenu">
  <button mat-menu-item routerLink="/inicio" (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>verified_user</mat-icon>
    <span>Rol: {{ role }}</span>
  </button>
</mat-menu>
