<mat-toolbar class="custom-toolbar" *ngIf="estaLogueado">
  <div>
    <button mat-button [routerLink]="['/home']" style="color: green">
      <mat-icon>home</mat-icon>Home
    </button>
  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menuCompany"
      class="btn-rojo"
      *ngIf="isAdmin()"
    >
      <mat-icon>computer</mat-icon>
      Compañías
    </button>
  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menulocalmarkets"
      class="btn-rojo"
      *ngIf="isOwner() || isAdmin()"
    >
      <mat-icon>computer</mat-icon>
      Mercados Locales
    </button>
  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menucrops"
      class="btn-rojo"
      *ngIf="isAdmin() || isAgricultor()"
    >
      <mat-icon>eco</mat-icon>
      Cultivos
    </button>
  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menuinput"
      class="btn-rojo"
      *ngIf="isAdmin() || isAgricultor()"
    >
      <mat-icon>grain</mat-icon>
      Insumos
    </button>
  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menuparcel"
      class="btn-rojo"
      *ngIf="isAdmin() || isAgricultor()"
    >
      <mat-icon>grass</mat-icon>
      Parcelas
    </button>
  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menusensor"
      class="btn-rojo"
      *ngIf="isAdmin() || isAgricultor()"
    >
      <mat-icon>barcode_reader</mat-icon>
      Sensor
    </button>
  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menumaintenance"
      class="btn-rojo"
      *ngIf="isAdmin() || isAgricultor()"
    >
      <mat-icon>build</mat-icon>
      Mantenimiento
    </button>
  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menuagriproduct"
      class="btn-rojo"
      *ngIf="isAdmin() || isAgricultor()"
    >
      <mat-icon>hive</mat-icon>
      Producto Agrícola
    </button>
  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menureportes"
      class="btn-rojo"
      *ngIf="isAdmin() || isAgricultor()"
    >
      <mat-icon>bar_chart</mat-icon>
      Reportes
    </button>
  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menuusuarios"
      class="btn-rojo"
      *ngIf="isAdmin()"
    >
      <mat-icon>groups</mat-icon>
      Usuarios
    </button>
  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menuroles"
      class="btn-rojo"
      *ngIf="isAdmin()"
    >
      <mat-icon>assignment_ind</mat-icon>
      Roles
    </button>
  </div>
  <span class="toolbar-spacer"></span>
  <div class="right-menu">
    <button mat-button [matMenuTriggerFor]="menuSalir">
      <mat-icon>person</mat-icon>Usuario
    </button>
  </div>
</mat-toolbar>

<mat-menu #menuCompany="matMenu">
  <button mat-menu-item routerLink="/companies">Listar</button>
  <button mat-menu-item routerLink="/companies/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menulocalmarkets="matMenu">
  <button mat-menu-item routerLink="/localmarkets">Listar</button>
  <button mat-menu-item routerLink="/localmarkets/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menucrops="matMenu">
  <button mat-menu-item routerLink="/crops">Listar</button>
  <button mat-menu-item routerLink="/crops/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuinput="matMenu">
  <button mat-menu-item routerLink="/inputs">Listar</button>
  <button mat-menu-item routerLink="/inputs/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuparcel="matMenu">
  <button mat-menu-item routerLink="/parcels">Listar</button>
  <button mat-menu-item routerLink="/parcels/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menusensor="matMenu">
  <button mat-menu-item routerLink="/sensors">Listar</button>
  <button mat-menu-item routerLink="/sensors/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menumaintenance="matMenu">
  <button mat-menu-item routerLink="/maintenances">Listar</button>
  <button mat-menu-item routerLink="/maintenances/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuagriproduct="matMenu">
  <button mat-menu-item routerLink="/agriculturalproducts">Listar</button>
  <button mat-menu-item routerLink="/agriculturalproducts/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menureportes="matMenu">
  <button mat-menu-item routerLink="/reportes/cultivos-peligro">
    <mat-icon>warning</mat-icon>
    Cultivos en Peligro
  </button>
  <button mat-menu-item routerLink="/reportes/parcelas-activas">
    <mat-icon>map</mat-icon>
    Parcelas activas
  </button>
  <!-- añadir otros accesos de queries -->
</mat-menu>

<mat-menu #menuusuarios="matMenu">
  <button mat-menu-item routerLink="/users">Listar</button>
  <button mat-menu-item routerLink="/newuser">Registrar</button>
</mat-menu>

<mat-menu #menuroles="matMenu">
  <button mat-menu-item routerLink="/roles">Listar</button>
  <button mat-menu-item routerLink="/roles/all">Registrar</button>
</mat-menu>

<mat-menu #menuSalir="matMenu">
  <button mat-menu-item routerLink="/login" (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
  <button mat-menu-item>
    Rol:
    <span>{{ role }}</span>
  </button>
</mat-menu>
