<mat-sidenav-container class="sidenav-container" *ngIf="estaLogueado">
  <mat-sidenav #drawer mode="side" class="app-sidenav" [opened]="true">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>

      <ng-container *ngIf="isAdmin()">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>computer</mat-icon><span>Compañías</span>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/companies">Listar</a>
          <a mat-list-item routerLink="/companies/nuevo">Registrar</a>
        </mat-expansion-panel>
      </ng-container>

      <ng-container *ngIf="isAdmin() || isOwner()">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>computer</mat-icon><span>Mercados Locales</span>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/localmarkets">Listar</a>
          <a mat-list-item routerLink="/localmarkets/nuevo">Registrar</a>
        </mat-expansion-panel>
      </ng-container>

      <ng-container *ngIf="isAdmin() || isAgricultor()">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>eco</mat-icon><span>Cultivos</span>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/crops">Listar</a>
          <a mat-list-item routerLink="/crops/nuevo">Registrar</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>grain</mat-icon><span>Insumos</span>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/inputs">Listar</a>
          <a mat-list-item routerLink="/inputs/nuevo">Registrar</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>grass</mat-icon><span>Parcelas</span>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/parcels">Listar</a>
          <a mat-list-item routerLink="/parcels/nuevo">Registrar</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>barcode_reader</mat-icon><span>Sensores</span>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/sensors">Listar</a>
          <a mat-list-item routerLink="/sensors/nuevo">Registrar</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>hive</mat-icon><span>Producto Agrícola</span>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/agriculturalproducts">Listar</a>
          <a mat-list-item routerLink="/agriculturalproducts/nuevo">Registrar</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>bar_chart</mat-icon><span>Reportes</span>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/reportes/cultivos-peligro">
            <mat-icon>warning</mat-icon> Cultivos en peligro
          </a>
          <a mat-list-item routerLink="/reportes/parcelas-activas">
            <mat-icon>map</mat-icon> Parcelas activas
          </a>
        </mat-expansion-panel>
      </ng-container>

      <ng-container *ngIf="isAdmin()">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>groups</mat-icon><span>Usuarios</span>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/users">Listar</a>
          <a mat-list-item routerLink="/newuser">Registrar</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>assignment_ind</mat-icon><span>Roles</span>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/roles">Listar</a>
          <a mat-list-item routerLink="/roles/all">Registrar</a>
        </mat-expansion-panel>
      </ng-container>

      <a mat-list-item routerLink="/ia">
        <mat-icon>smart_toy</mat-icon>
        <span>IA</span>
      </a>

      <a mat-list-item (click)="cerrar()" routerLink="/inicio">
        <mat-icon>logout</mat-icon> Cerrar sesión
      </a>

      <mat-divider></mat-divider>
      <div class="user-info">
        <mat-icon>person</mat-icon>
        Rol: {{ role }}
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Mi Aplicación</span>
      <span class="toolbar-spacer"></span>
      <span *ngIf="estaLogueado">Bienvenido</span>
    </mat-toolbar>

    <!-- Aquí va el contenido principal de tus rutas -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
